.DS_Store
set_env.sh
terraform/.terraform/**
terraform/.terraform.lock.hcl
terraform/solution.plan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.kube/**
terraform/.terraform.tfstate.lock.info
deployments/k8s/aws-secret.yaml
deployments/k8s/env-configmap.yaml
deployments/k8s/env-secret.yaml
command.sh
Classroom_Project_Instructions/Part_0_Prerequisites_and_Getting_Started.md
Classroom_Project_Instructions/Part_I_Monolithic_Application.md
Classroom_Project_Instructions/Part_II_Microservices_Application.md
Classroom_Project_Instructions/Part_III_TravisCI.md
Classroom_Project_Instructions/Part_IV_Container_Orchestration.md
Classroom_Project_Instructions/Part_V_Logging.md
terraform/main.tf
terraform/terraform.tfvars
terraform/variables.tf
